@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/normalize";

$light-gray-clr: #A9AEB9;
$blue-clr: #049FE2;
$text-clr: #4C4D4F;

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    // font-size: 18px;
}

a {
    color: $blue-clr;
    &:hover {
        color: lighten($blue-clr, 5%);
    }
}

.container {
    @include outer-container(em(720));
    @include pad(40px 40px 40px 140px);
}

.header {
    margin-top: em(100);
    margin-bottom: em(40);
    position:relative;
    .name {
        font-size:em(24);
        font-weight:bold;
    }
    .title {
        color: $light-gray-clr;
        font-weight:normal;
        font-size:em(14);
    }
    .avatar {
        width:em(100);
        height:em(100);
        display:inline-block;
        border-radius:100%;
        overflow:hidden;
        left:em(-140);
        top:em(-20);
        img {
            max-width:100%;
        }
    }
    .download-pdf {
        float:right;
        padding: em(15);
        border: 2px solid #eee;
        font-size: em(13);
        border-radius:3px;
        text-decoration:none;
        color:$light-gray-clr;
        .document {
            vertical-align:text-top;
            display:inline-block;
            width:16px;
            height:16px;
            background: url('../images/download.png') no-repeat;
            background-size: 16px 32px;
            margin-right:em(5);
        }
        &:hover{
            border-color:$blue-clr;
            color: $blue-clr;
            .document {
                background-position: 0 -16px;
            }
        }
    }
}

.resume {
    .resume-section {
        margin-bottom:em(30);
    }
    h3 {
        color: $blue-clr;
        font-size: em(18);
        font-weight: 500;
        margin-bottom: em(10);
    }
    h4 {
        font-size: em(16);
        font-weight:500;
        a {
            color: black;
            text-decoration:none;
            &:after {
                content:'';
                display:inline-block;
                margin-left:em(5);
                width: 12px;
                height: 10px;
                background: url('../images/external.png') no-repeat;
                background-size: cover;
            }
            &:hover {
                color: $blue-clr;
                text-decoration: underline;
            }
        }
    }
    p {
        margin-bottom: em(10);
    }
    .summary {
        font-size: em(18);
        color: $text-clr;
    }
    .subtitle {
        font-size: em(13);
        color:$light-gray-clr;
        margin-bottom:em(5);
    }
}

.entry {
    position:relative;
    margin-bottom:em(20);
    .timeframe {
        position:absolute;
        left:em(-140);
        top:0;
        display:inline-block;
        width:em(100);
        color:$light-gray-clr;
        text-align:right;
    }
}

.content {
    font-size: em(13);
    color: $text-clr;
    ul {
        margin-left: em(20);
        margin-bottom:em(10);
        li {
            margin-bottom:em(5);
        }
    }
}

.skills-list {
    margin-bottom:em(20);
    li {
        display:inline-block;
        &:after {
            content: ',';
        }
        &:last-child:after {
            content:'.';
        }
    }
}
